body {
	background: grey;
}

div.h2 {
	float: left;
}

#turn {
	width: 100%;
}

#board { 
	margin-top: 15px;
	height: 344px;
	width: 648px;
	margin: 0px auto;
	background: grey;
}

.quadrant {
	height: 172px;
	width: 320px;
	padding: 2px;
	display: inline;
	float: left;
}

.even {
	background: lightgreen;
}

.odd {
	background: brown;
}

.space {
	width: 30px;
	border-radius: 15%;
	height: 150px;
	float: left;
	margin: 8px 10px 0px 9px;
}

.blackPiece {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: black;
	margin: 6px 6px 6px 6px;
}

.whitePiece {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: white;
	margin: 6px 6px 6px 6px;
}

#dice {
	text-align: center;
	margin-right: 25px;
}

div.di {
	display: inline-block;
	margin: 0px auto;
	height: 32px;
	width: 32px;
	background: #F5F5F5;
	border: #999 1px solid;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	
}

.selected-piece {
	border: solid 3px red;
	margin-left: 3px;
}

#jail {
	float: left;
	margin: -70px 0px 0px 40px;	
}

#jail1 {
	background: black;
	color: white;
}

#jail2 {
	background: white;
	color: black;
}

.bothjail {
	border: 2px black solid;
	text-align: center;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 20px 0px 20px 0px;
}

#home {
	margin: -70px 40px 0px 0px;
	float: right;
}

#home1 {
	background: black;
	color: white;
}

#home2 {
	background: white;
	color: black;
}

.homebase {
	border: 2px black solid;
	text-align: center;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 20px 0px 20px 0px;	
}

#player {
	width: 648px;
	clear: both;
	text-align: center;
	margin: 0px auto;
}

@media (min-width: 1200px) {
	#jail {
		margin: -420px 0px 0px 250px;
	}
	#home {
		margin: -420px 250px 0px 0px;
	}

}


