
#dice{
	margin: 0px auto;

}
#board {
	border: 2px solid black;
	height: 348px;
	width: 639px;
	margin: 0px auto;
	background: yellow;
}

.quadrant {
	height: 172px;
	width: 316px;
	border: 2px black solid;
	display: inline;
	float: left;
}

.even {
	background: red;
}

.odd {
	background: white;
}

.space {
	width: 30px;
	height: 150px;
	border: 2px solid black;
	float: left;
	margin: 8px 10px 0px 9px;
}

.blackPiece {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: black;
	margin: 6px 6px 6px 6px;
}

.whitePiece {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: green;
	margin: 6px 6px 6px 6px;
}

div.di {
	float: left;
	width: 32px;
	background: #F5F5F5;
	border: #999 1px solid;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
}

.selected-piece {
	border: solid 3px red;
	margin-left: 3px;
}
