body {
	background: grey;
}


.bothjail {
	width: 50px;
	height: 50px;
	border: 2px black solid;
	border-radius: 50%;
	background: white;
}



#board { 
	margin-top: 15px;
	height: 344px;
	width: 648px;
	margin: 0px auto;
	background: grey;
}

.quadrant {
	height: 172px;
	width: 320px;
	padding: 2px;
	display: inline;
	float: left;
}

.even {
	background: red;
}

.odd {
	background: brown;
}

.space {
	width: 30px;
	border-radius: 15%;
	height: 150px;
	
	float: left;
	margin: 8px 10px 0px 9px;
}

.blackPiece {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: black;
	margin: 6px 6px 6px 6px;
}

.whitePiece {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: white;
	margin: 6px 6px 6px 6px;
}

#dice {
	text-align: center;
	margin-right: 25px;
}

div.di {
	display: inline-block;
	margin: 0px auto;
	height: 32px;
	width: 32px;
	background: #F5F5F5;
	border: #999 1px solid;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	
}

.selected-piece {
	border: solid 3px red;
	margin-left: 3px;
}

#jail1 {
	text-align: center;
}
#jail2 {
	text-align: center;
}

#home {
	margin: -76px 20px 0px 0px;
	float: right;
	text-align: center;
}

#home1 {
	background: black;
	color: white;
	text-align: center;
}

#home2 {
	background: white;
}


.homebase {
	width: 50px;
	height: 50px;
	border: 2px black solid;
	margin: 20px 0px 20px 0px;
	border-radius: 50%;	
}

@media (min-width: 1260px) {

	.homebase {
		width: 50px;
		height: 50px;
		border: 2px black solid;
		margin: -180px 250px 0px 0px;
		border-radius: 50%;

	}

}


